<div id="gen_header">
	<div id="title_card">
		<h1>foxtrot</h1>
		<h4>v0.001</h4>
	</div>

	<nav id="headerMenu">
		<ul class="menuItems">
			<li><a href="#">Schedule</a></li>
			<li><a>Accounts</a></li>
			<li><a>Connect</a></li>
		</ul>
	</nav>
</div>
