html,body {margin: 0; padding: 0;}

#headerHBS #headerMenu {
	display: flex;
	justify-content: center;
	background: #d0b7f4;
}

#headerMenu .menuItems {
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 0.5em; 
	justify-content: center;
	padding: 0;
	list-style-type: none;	
}

#headerMenu .menuItems li {
	display: flex;
	justify-content: center;
}

#headerMenu .menuItems a{
	text-decoration: none;
	color: white;
	font-size: 2em;
}

#headerHBS #title_card {
	margin: 0;
	background: #eef4b7;
}

#title_card h1{
	font-size: 300%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

#title_card h4{
	display: flex;
	justify-content: center;
	margin: 0;
}

#todoUI {
	display: flex;
	justify-content: center;
	}

#todoUI, h3 {
	display:block;
	justify-content: center;
}

#todoUI, #todoForm {
	
}
/*
#todos-list {
	display:flex;
	justify-content: center;
}*/
