<!DOCTYPE html>
{{> 'partials/htmx_head' }}
{{> 'partials/htmx_header' }}
<div id="todoUI">
	<h3>Enter your Todo</h3>
	<form	id="todoForm"
		hx-get="/set"
		hx-trigger="submit"
		hx-target="#todos-list"
	>
		<input name="create-todo" placeholder="new input">
		<button>Submit</button>
	</form>

	<div style="display:none;" hx-target="#todos-list" hx-trigger="every 1s" hx-get="/set"></div>
	{{> 'todos' }}
	<!--div id="todos-list">
		<li style="display:inline-block;">
			{{#each Todoslist}}
			<p style="display:block;">{{this}}</p>
			<input type="button" value="X" hx-get="/del?todo-id={{@key}}" name="todo-name" hx-parmas="" hx-target="#todos-list"/>
			{{/each}}
		</li>
	</div-->
</div>

{{> 'partials/htmx_footer' }}
