<div id="todos-list">
	<table>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Actions</th>
		<tr>
		{{#each Todoslist}}
		<tr>
			<td><p>{{this}}</p></td>
			<td>not</td>
			<td><input type="button" value="X" hx-get="/del?todo-id={{@key}}" name="todo-name" hx-parmas="" hx-target="#todos-list"/></td>
		</tr>

		{{/each}}
	</table>
</div>


