<div id="todos-list">
	<li>
		{{#each Todoslist}}
		<p>{{this}}</p>
		<input type="button" value="X" hx-get="/del?todo-id={{@key}}" name="todo-name" hx-parmas="" hx-target="#todos-list"/>
		{{/each}}
	</li>
</div>
