html,body {margin: 0; padding: 0;}

/* Generic Header */
#headerBox {
	box-shadow: 50px 50px 7px lightblue;
}

#headerBox #headerNav {
	display: flex;
	justify-content: center;
	background:  #85929e;
}

#headerNav .menuItems {
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 0.5em; 
	justify-content: center;
	padding: 0;
	list-style-type: none;	
}

#headerNav .menuItems li {
	display: flex;
	justify-content: center;
}

#headerNav .menuItems a{
	text-decoration: none;
	color: white;
	font-size: 2em;
}

#headerBox #title_card {
	margin: 0;
	background:  #cacfd2 ;
}

#title_card h1{
	font-size: 300%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

#title_card h4{
	display: flex;
	justify-content: center;
	margin: 0;
}

/* Generic Footer */
footer {
	margin: 0;
	padding: 5px;
	background:  #85929e;
}

footer p {
	color: white;
}

/* Todo List */
#todoUI {
	display: block;
	background:  #ecf0f1;
	padding: 2em 8em 2em 8em;
	min-height: 85dvh;
	}

#todoUI > h3 {
	margin: 0;
	font-size: 2em;
	display: block;
	text-align: center;
	flex-direction: row;
	justify-content: center;
}

#todoUI > #todoForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#todoUI #todoForm input {
	border-radius: 50px;
	padding: 1em;
	margin-right: 0.5em;
}

/*Table*/

#todos-list {
	list-style-type: none;
	margin-top: 1em;
}

#todos-list table tr:first-child {
	border-bottom-style: solid;
	padding-bottom: 50px;
	width: 100%;
}
#todos-list tr td {
	border-bottom-style: dotted;
}
#todos-list table {
	margin: 0 auto;
	padding: 2em;
	border: 2px; 
	border-radius: 2em;
	border-collapse: collapse; /* work around to get border on tr */
	text-align: center;
	width: 50%; /* please clamp() me later */
}
