package views

import (
	"strconv"
	"github.com/benjamin-jack/gofiberfoxtrot/models"
)

templ TodoIndex(todos []models.Todo) {
	for _, todo := range todos {
		<p>{ strconv.Itoa(int(todo.Id)) } | {todo.Name} | 
		if todo.Status { 
		,/ 
		} else { 
		X
		}
		</p>
	}
}

