<!DOCTYPE html>
{{> 'partials/htmx_head' }}
{{> 'partials/htmx_header' }}
<div id="todoUI">
	<h3>Enter your Todo</h3>
	<form	id="todoForm"
		hx-get="/set"
		hx-trigger="submit"
		hx-target="#todos-list"
		_="on htmx:afterRequest reset()">
	
		<input _="on htmx:afterRequest set my value to ''" name="create-todo" placeholder="new input">
		<button>Submit</button>
	</form>

	<div style="display:none;" hx-target="#todos-list" <!--hx-trigger="every 1s"--> hx-get="/set"></div>
	{{> 'todos' }}
</div>

{{> 'partials/htmx_footer' }}
